{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<div class="row">
  <div class="columns small-12">

    {{#post}}
    <h2>{{title}}</h2>

    {{content}}
    {{/post}}
    {{#get "users" limit="all"}}
      {{#foreach users}}
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="{{img_url profile_image}}">
          </div>
        </div>
        <div class="media-object-section">
          <h4>{{name}}</h4>
          {{bio}}
          </div>
      </div>
      {{/foreach}}
    {{/get}}
  </div>
</div>
